/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* основной цвет  #212121; */
/* вторичный цвет #757575; */
/* Ефект Hover #2196F3; */
/* Белый #FFFFFF; */
/* Подвал rgba(255, 255, 255, 0.6); */
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --hover-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
    background-color: var(--white-text-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.invisible {
    visibility: hidden;
}
/* site-nav */
.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;  
    color: var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--hover-text-color);
}
.auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--hover-text-color);
}
/* Логотип */
.logo {
    text-decoration: none;
}
.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--hover-text-color);
}
.logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* section hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color)
}
.hero button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--hover-text-color);
    cursor: pointer;
}
/* Достоинства */
.section-title h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* чем мы занимаемся */ /* Наша команда */
.section ul {
    list-style: none;
    text-decoration: none;
}
.section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.section-team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}
.section-team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
}
/* Подвал */
.footer {
    background-color: #2F303A;
}
.footer a{
    background-color: #2F303A;
    list-style: none;
    text-decoration: none;
}
.logo-studio-white {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}
.footer-adress {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    list-style: none;
    text-decoration: none;
}
.auth-footer a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    list-style: none;
    text-decoration: none;
}
.maps a {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}
/* portfolio */
.portfolio h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.portfolio p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.portfolio-button button:hover {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    cursor: pointer;
    background-color: var(--hover-text-color);
}